.btn-header {
  border-radius: 40px;
  border: 1px solid $accent-color;
  padding: 9px 35px;
  color: white;
  background-color: $accent-color;
  @include font-value(700, 16px, 17px);
  cursor: pointer;
  transition: transform 0.6s;

  @media (max-width: 480px) {
    @include font-value(700, 15px, 15px);
    padding: 9px 20px;
  }

  &:hover {
    color: $accent-color;
    background-color: #fff;
  }

  &:active {
    transform: scale(0.8);
  }
}

.download-btn {
  padding: 23px 61px;
  text-align: center;
  cursor: pointer;
  background-color: $accent-color;
  border-radius: 40px;
  @include font-value(700, 21px, 21px);
  color: #ffffff;
  transition: transform 0.6s;
  border: 2px solid #8d81ac;

  @media (max-width: 480px) {
    .download-btn {
      max-width: 290px;
      text-align: center;
      font-size: 18px;
      padding: 15px 29px;
    }
  }

  &__text {
    text-align: center;
    margin-top: 19px;
    @include font-value(400, 14px, 14px);
    color: #848e97;
  }

  &:hover {
    background-color: white;
    color: $accent-color;
  }

  &:active {
    transform: scale(0.8);
  }
}
